/******Start header*******/
.main-header, .news, .read{
    max-width: 952px;
    margin: 0 auto;
    padding: 0 5px;
}
.main-header hr{
    width: 100%;
}
.breadcrumbs-list{
    margin: 20px 0;
}
.breadcrumbs-list a{
    font-size: 16px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.2);
}
.breadcrumbs-list a:hover{
    color: rgba(51, 51, 51, 0.5);
}
.main-header ul.item li+li:before {
    padding: 8px;
    color: rgba(51, 51, 51, 0.2);
    content: "\\";
}
/******End header*******/
/*======================================================*/
/******Start main*******/
.news h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000000;
}
.item{
    flex-wrap: wrap
} 
.news-list{
    flex-basis: 30%;
    margin:0 auto;
    position: relative;
}
.news-list:nth-child(2), .news-list:nth-child(5), .news-list:nth-child(8){
    flex-basis: 38%
}
.news-list:nth-child(1), .news-list:nth-child(4), .news-list:nth-child(7){
    margin-left: 0;
}
.news-list:nth-child(3), .news-list:nth-child(6), .news-list:nth-child(9){
    margin-right: 0;
}
.news-list img{
    display: block;
    width: 100%;
    margin: 20px 0;
     
}
.pagination img{
    width: 16px;
    margin-left: 15px;
}
.overlay {
    position: absolute; 
     
    top: 0;
    left:0; 
    background: rgb(0, 0, 0);
    background: rgba(253, 252, 252, 0.9); /* Black see-through */
    color: #f1f1f1; 
    width: 50%;
    transition: .5s ease;
    opacity:0;
    color: #333333;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.news-list:hover .overlay {
    opacity: 1;
  }
.news-list a{
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000000;
    
}
 
.news-list a:hover{
    color: #D90000;
     
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.pagination-list{
    margin: 0 10px;
    border-bottom: 1px solid transparent;
}
 
.pagination-list a{
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
    color: #333333;
}
.pagination-list:hover{
    border-bottom: 1px solid #D90000;
} 
.pagination-list a:hover{
    color:#D90000;
}
.pagination-list:active{
    border-bottom: 1px solid #D90000;
} 
.pagination-list a:active{
    color:#D90000;
}
.email{
    margin-top: 20px;
}
/******End main*******/
@media screen and (min-width:450px) and (max-width:768px){
    .news-list{
        flex-basis: 48% !important;
        margin: 0 auto !important;
    } 
    .news-list:nth-child(1), .news-list:nth-child(3),.news-list:nth-child(5), .news-list:nth-child(7), .news-list:nth-child(9){
        margin-left: 0 !important;
    }
    .news-list:nth-child(2), .news-list:nth-child(4), .news-list:nth-child(6), .news-list:nth-child(8){
        margin-right: 0 !important;
    }
    .news-list:nth-child(4){
        margin-left: auto !important;
    }
}
@media screen and (max-width:450px){
    .news-list{
        flex-basis: 100% !important;
    }
}
 /****************Start news architectural page1*****************/
 .news-header .item{
    margin: 30px 0 0 0;
}
.news-header-list{
    margin: auto;
    flex-basis: 30%; 
}
.news-header-list:nth-child(1){
    margin-left: 0;
}
 
.news-header-list:nth-child(3){
    margin-right: 0;     
} 
.news-header-list img{
    float: left;
    margin-right: 5px;
     
}
.news-header-list span{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    display: block; 
}
.news-header-list span:last-child{
    color:#D90000;
}
.news hr{
    width: 100%;
    margin: 20px 0 0 0 ;
}
/*=========================================================================*/
.news-content p{
    font-size: 18px;
    line-height: 170%;
    color: #333333;
    margin: 20px 0;
}
.news-content p:first-child{
    font-weight: 600;
}
.content-list:nth-child(1){
    flex-basis: 32%;
    margin: 10px auto 10px 0;

}
.content-list:nth-child(2){
    flex-basis: 66%;
    margin: 10px 0 10px auto;
}
.content-list img{
    width: 100%;
}
.content-list h3{
    margin-top: 10px;
}
.content-list span{
    font-size: 14px;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.5);
}
.content-item-list:nth-child(1){
    flex-basis: 48.5%;
    margin: 0 auto 10px 0;
}
.content-item-list:nth-child(2){
    flex-basis: 48.5%;
    margin: 0 0 10px auto;
}
.content-item-list:nth-child(3){
    flex-basis: 100%;
    
}
/*======================================================================*/
section:nth-child(2){
  background-color: #fff;
}
.read{
    margin-bottom: 30px;
}
.read-list{
    flex-basis: 32%;
    margin: 0 auto auto auto;
    color: #333333;
}
.read-list:hover{
    color:#D90000;
}
.read-list:nth-child(1){
    margin-left: 0;
}
.read-list:nth-child(3){
    margin-right: 0;
}
.read-list img{
    float: left;
    margin-right: 10px;
     
}
.read-list a{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'liga' off, 'calt' off, 'kern' off;
    margin: 10px 0 20px 0;
    display: block;
    color: #333333;
}
.read-list a:hover{
    color:#D90000;
}
.read h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px
}
  /****************End news architectural page1*****************/
@media screen  and (max-width:1020px){
    .read-list img{
        float: none;
        width: 100%;
        
    }
}
@media screen and (max-width:768px){
    .news-header.item{
        flex-direction: column;
        flex-wrap: wrap;
         
    }
    .news-header-list{
        margin: auto;
        flex-basis: 100%;
    }
    .news-header-list img{
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
         
    }
    .main-header .item{
        flex-direction: column;
        text-align: left;
         
    }
    .breadcrumbs-list{
        margin: 5px 0;
    }
     
    .main-header ul.item li+li:before {
        padding: 0;
        color: rgba(51, 51, 51, 0.2);
        content: " ";
    }
}
@media screen and (max-width:550px){
    .news-content.item:nth-child(1){
        flex-direction: column;
    }
    .content-list:nth-child(1){
        flex-basis: 100%;
        margin: 10px auto 10px 0;
    
    }
    .content-list:nth-child(2){
        flex-basis: 100%;
        margin: 10px 0 10px auto;
    }
    .content-list:nth-child(1){
        order: 2;
    }
    .content-list:nth-child(2){
        order:1;
    }
}


@media screen and (max-width:425px){
     
    .read.item{
        flex-direction: column;
    }
    .read-list{
        flex-basis: 100%;
    }
}